# See doc/org-repo.md

/README.md @NixOS/org
/CONTRIBUTING.md @NixOS/org
/LICENSE @NixOS/org

/.gitignore @NixOS/org
/.github/CODEOWNERS @NixOS/steering
/.github/workflows @NixOS/org
/scripts @NixOS/org
/npins @NixOS/org
/default.nix @NixOS/org
/shell.nix @NixOS/org

/doc/org-repo.md @NixOS/steering
/doc/discourse.md @NixOS/steering
/doc/github.md @NixOS/org
/doc/github-org-owners.md @NixOS/steering
/doc/matrix.md @NixOS/steering
/doc/moderation.md @NixOS/steering
/doc/nixos-releases.md @NixOS/steering
/doc/resources.md @NixOS/steering
/doc/governance.md @NixOS/steering
/doc/values.md @NixOS/steering
/doc/constitution.md @NixOS/steering
/doc/nixpkgs-committers.md @Mic92 @NickCao @jtojnar
/doc/calendar.md @edolstra @tomberek
