# See doc/org-repo.md

/README.md @NixOS/org
/CONTRIBUTING.md @NixOS/org
/LICENSE @NixOS/org

/.gitignore @NixOS/org
/.github/CODEOWNERS @NixOS/org
/.github/workflows @NixOS/org
/scripts @NixOS/org
/npins @NixOS/org
/default.nix @NixOS/org
/shell.nix @NixOS/org

/doc/org-repo.md @NixOS/org
/doc/discourse.md @NixOS/org
/doc/github.md @domenkozar @edolstra @garbas @zimbatm
/doc/matrix.md @NixOS/org
/doc/moderation.md @NixOS/org
/doc/nixos-releases.md @NixOS/org
/doc/resources.md @NixOS/org
/doc/rfcs.md @NixOS/org
/doc/teams.md @NixOS/org
/doc/nixpkgs-committers.md @Mic92 @NickCao @jtojnar
