# See doc/org-repo.md

/README.md @infinisil @zimbatm
/CONTRIBUTING.md @infinisil @zimbatm
/LICENSE @infinisil @zimbatm

/.github/CODEOWNERS @infinisil @zimbatm
/.github/workflows @infinisil @zimbatm
/review-body.sh @infinisil @zimbatm

/doc/org-repo.md @infinisil @zimbatm
/doc/discourse.md @infinisil @zimbatm
/doc/github.md @infinisil @zimbatm
/doc/matrix.md @infinisil @zimbatm
/doc/moderation.md @infinisil @zimbatm
/doc/nixos-releases.md @infinisil @zimbatm
/doc/resources.md @infinisil @zimbatm
/doc/rfcs.md @infinisil @zimbatm
/doc/teams.md @infinisil @zimbatm
